/* Grid for hero page */
.hero-page{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: #121318;
}
/* Css for hero page title */
#hero-title{
    color: white; 
    font-size: 100px;    
    text-align: center;    
}